{% if site.data.featured_projects.size > 0 -%}
<div>
<h2>{{ include.title }}</h2>
<div class="highlight-carousel">
{% for project in site.data.featured_projects %}
    <a class="inherited-link" href="{{ project.url }}">
    <div class="highlight-card">
        <div class="highlight-thumb"><img src="{% if project.image %}{% if project.image contains '://' %}{{project.image}}{% else %}{{ project.image | prepend: '/cdn/' }}{% endif %}{% else %}/cdn/images/png/2024/everyone/lagom-logo-L.png{% endif %}" alt="{{ project.title }}"></div>
        <div class="highlight-content">
	    <h3>{{ project.title }}</h3>
	    <div class="highlight-meta">{{ project.venue }} · {{ project.year }}</div>
            <p>{{ project.description }}</p>
        </div>       
    </div>
    </a>
{% endfor %}
</div>
</div>
{%- endif %}

