{%- for group in site.data.people.groups -%}
    <h2 class="category">{{site.data.people.[group].title}}</h2>
    <div class="grid">
    {%- for person in site.data.people.[group].people -%}
        <article class="grid-item card">
            {% if person.picture -%}
                <img class="avatar"
                    src="{% if person.picture contains '://' %}{{person.picture}}{% else %}{{ person.picture | prepend: '/cdn/' }}{% endif %}"
                    alt="Portrait ({{person.name}})" width="auto" height="auto">
            {%- else -%}
                <img class="avatar" src="/cdn/images/png/2024/everyone/lagom-logo-L.png" alt="Portrait ({{person.name}})" width="auto"
                    height="auto">
            {%- endif -%}
            <div class="card-body">
                <h2 class="card-title">
                    {% if person.website -%}
                    <a href="{{person.website}}">{{person.name}}</a>
                    {%- else -%}
                    {{person.name}}
                    {%- endif -%}
                </h2>
                <div class="card-text">
                    {{person.description}}
                </div>
            </div>
        </article>
    {%- endfor -%}
    </div>
{%- endfor -%}
